<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
</head>
<body>
    <h2>Welcome to your library profile, {{ name }}!</h2>
    <div>
        <a href="/edit_profile" class="btn btn-primary">Edit profile</a>
        <a href="/checkout_books" class="btn btn-primary">Check Out Books</a>
        <a href="/view_checked_out_books" class="btn btn-primary">View checked out books</a>
        <a href="/signout" class="btn btn-primary">Sign Out</a>

    </div>
    <div>
        <p>Total Fine Incurred: {{ total_fine }}</p>
    </div>
</body>
</html>
