<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Mahirah's Library Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
            text-align: center;
        }
        .btn {
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Mahirah's Library Management System</h1>
        <div>
            <a href="/signup" class="btn btn-primary">Sign Up</a>
            <a href="/signin" class="btn btn-primary">Sign In</a>
            <a href="/employee_signin" class="btn btn-primary">Employee Sign In</a>
            <a href="/view_books" class="btn btn-primary">View Library Books</a>
        </div>
    </div>
</body>
</html>
